@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --orange: #D2872C;
  --gray: #766F68;
}

body, h1, p, ul, li, img {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
ul, li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}

/* GRID GERAL */

.estrutura {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
    "header header"
    "content content";
}


/* HEADER */

.header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 30px;
  align-items: center;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  color: var(--orange);
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu a {
  display: block;
  font-size: 1.25em;
  color: #454545;
  transition: ease-out .3s;
}

.menu li + li {
  margin-left: 20px;
}

.menu a:hover {
  opacity: 0.6;
}

/* CONTENT */