@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --blue: #4E5BEE;
  --red: #FF5757;
  --grey: #F8F8F8;
}

/* Reset */

body, h1, ul, li, p {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--blue);
}

.logo {
  max-width: 30%;
  padding-top: 200px;
  padding-bottom: 100px;
}

.input-container {
  position: relative;
}

.input-form {
  padding: 15px 15px 15px 50px;
  background: transparent;
  outline: none;
  color: var(--grey);
  font-size: 1.125rem;
  border-radius: 60px;
  border: 3px solid var(--grey);
}

.input-container + .input-container{
  margin-top: 15px;
}

.input-container label {
  color: var(--grey);
  top: 16px;
  left: 15px;
  position: absolute;
}

.btn {
  font-size: 1rem;
  font-family: 'Roboto';
  font-weight: bold;
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  border-color: transparent;
  margin-top: 20px;
  margin-bottom: 100px;
  cursor: pointer;
}

footer, footer a {
  color: var(--grey);
  text-align: center;
}

