@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --red: #D6000D
}

body, h1, p, ul, li, img {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
ul, li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}

/* HEADER */

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 30px;
  max-width: 1200px;
  align-items: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--red);
  font-style: italic;
}

.logo span {
  color: #000;
}

.menu li + li {
  margin-left: 20px;
}

.menu li a {
  color: #000;
  font-size: 1.5rem;
  padding: 10px;
  transition: all .3s;
}

.menu li a:hover {
  opacity: .6;
}

.menu li a.btn{
  color: #fff;
  padding: 5px 50px 5px 50px;
}


.btn {
  padding: 5px 50px 5px 50px;
  background: var(--red);
  color: #fff;
  border-radius: 7px;
}

.estrutura {
  margin: 0 auto;
  max-width: 1080px;
}

/* INTRODUCAO */

.introducao {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0 50px 0;
  align-items: center;
  gap: 100px;
}

.intro-img{
  padding: 10px;
  flex: 1 1 350px;
}

.intro-text {
  padding: 10px;
  flex: 1 1 300px;
  margin-bottom: 100px;
}

.intro-text h1 {
  padding-bottom: 30px;
}

.intro-text h1 p {
  color: #000;
  font-size: 1.25rem;
}

.intro-text h1 span {
  color: var(--red);
  font-size: 3rem;
}

.intro-text a.btn {
  padding: 12px 50px 12px 50px;
  display: inline-block;
  transition: transform .2s;
}

.intro-text a.btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 5px rgba(170, 170, 170);;
}

/* VANTAGENS */

.vantagens {
  display: flex;
  padding: 50px 0 50px 0;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  align-items: center;
  gap: 100px;
}

.vant-lista {
  width: 400px;
}

.vant-lista li {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.vant-lista i {
  padding-right: 30px;
  color: var(--red);
}

.vant-img {
  display: flex;
  flex: 1 1 350px;
}