@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');

body, h1, ul, li, p {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Poppins', sans-serif;
}
