@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');

:root {
  --blue: #6C63FF;
  --black: #000000;
}

/* Reset */

body, h1, ul, li, p {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Nav */

.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav img {
  position: relative;
  right: -70px;
  top: -50px;
}

.nav p {
  position: absolute;
  font-size: 3rem;
  padding: 40px 0;
  font-weight: bold;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.nav p a {
  color: var(--black);
}

.nav p a strong {
  color: var(--blue);
}

.nav ul {
  text-align: center;
  padding-bottom: 100px;
}

.nav ul li a{
  color: var(--black);
  font-size: 2rem;
  font-weight: 300;
}

/* Hero */

.hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
}

.hero h1 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 40px;
}

.hero h1 strong {
  color: var(--blue);
}

.hero-img {
  width: 75%;
}