@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

:root {
  --black: #242424;
  --yellow: #FCA60F;
  --brown: #C95E20
}

/* Reset */

body, h1, ul, li, p {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  background: url("/img/forma.svg") no-repeat center center;
}

/* Menu */

.nav {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
  background: white;
}

.nav-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px 0;
}

.nav-pages {
  display: flex;
}

.nav-pages li+li {
  padding-left: 60px;
}

.nav-pages li a {
  font-size: 1.125em;
  color: var(--black);
  transition: .2s;
}

.nav-pages li a:hover {
  color: var(--brown);
}

/* Main */

.main {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 120px 0 100px 0;
}

.content {
  width: 500px;
}

.content-text h1 {
  font-size: 2em;
  line-height: 1.5em;
  padding-bottom: 100px;
}

.btn {
  display: inline-block;
  background: var(--yellow);
  color: white;
  font-weight: bold;
  font-size: 1.25em;
  padding: 15px 60px;
  border-radius: 4px;
  transition: transform .3s;
  margin-bottom: 30px;
}

.btn:hover {
  transform: scale(1.1);
}

.socials {
  display: flex;
  align-items: center;
}

.socials li {
  transition: transform .5s;
}

.socials li:hover {
  transform: scale(1.1);
}

.socials li + li {
  padding-left: 20px;
}

/* Footer */

.footer {
  padding-bottom: 70px;
}

.footer p{
 text-align: center;
 font-weight: bold;
 margin-bottom: 20px;
}

.scroll {
  display: flex;
  justify-content: center;
  animation: animate .7s linear infinite alternate;
}

@keyframes animate{
  from {
    transform: translateY(-4px);
  }
  to {
    transform: translateY(4px);
  }
}

/* Responsivo mobile*/

@media (max-width: 700px) {
  body {
    background: url("/img/forma-mobile.svg") no-repeat center center;
  }
  /* Menu */
  .nav {
    justify-content: center;
    padding: 0 25px;
  }
  .nav-content {
    display: block;
  }
  .nav-pages {
    justify-content: center;
  }
  .nav-pages li+li {
    padding-left: 30px;
  }
  .logo {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  /* Main */
  .content {
    width: 100%;
  }
  .content-img {
    display: none;
  }
  .main {
    justify-content: space-between;
    align-items: center;
    
  }
  .content-text {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;
  }
  .socials {
    justify-content: center;
  }
  /* Footer */
  .footer {
    display: none;
  }
}

/* Menu responsivo tablet */

@media (max-width: 1200px) {
  /* Menu */
  .nav {
    padding: 0 50px;
  }
  /* Main */
  .main{
    padding-left: 50px;
    padding-right: 50px;
  }
}