@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --verde: #5CA720;
  --preto: #161616;
  --cinza: #F9F9F9;
  --cinzaDiv: #A5A1A1;
}

body, h1, p, ul, li, img {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
}
ul, li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}

/* HEADER */

.header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  padding: 10px 0 20px 0;
}

.logo a img{
  padding: 15px 30px 15px 0px;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
}

.menu li img {
  width: 25px;
  transition: all .2s;
}

.menu li img:hover {
  opacity: .6;
}

.menu li + li {
  margin-left: 40px;
}

/* BANNER */

.banner {
  background: url(../img/banner.png) center center;
  padding: 80px;
}

.banner img {
  margin: 0 auto;
}

/* PROMOÇÃO */

.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 30px 0 20px 0;
  max-width: 1300px;
}

.divisoria {
  border: 0;
  margin: 0;
  border-top: 1px solid rgba(125, 125, 125, 0.3);
}

.promo span {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
}

.promo p {
  font-size: 1.125rem;
  color: var(--preto);
}

/* PRODUTOS */

.products {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 40px;
  gap: 50px;
}


.produto {
  max-width: 300px;
  padding-bottom: 65px;
}

.produto img:hover {
  transform: scale(1.05);
  z-index: 2;
}

.produto img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
  transition: .2s;
}

.produto-nome {
  font-size: 1.3rem;
  color: var(--preto);
}

.produto-preco {
  font-weight: bold;
  font-size: 1.3rem;
}

.produto-preco span {
  font-size: 1.75rem;
  color: var(--verde);
}

/* FOOTER */

.footer-up {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px calc((100% - 1300px) / 2);
  justify-content: space-between;
  align-items: center;
  background-color: var(--cinza);
}

.paginas, .newsletter p {
  font-size: 1.125rem;
  font-weight: bold;
}

.paginas li a{
  color: var(--preto);
  transition: .3s ease-in-out;
}

.paginas li + li {
  margin-top: 10px;
}

.paginas li a:hover {
  color: var(--verde);
}

.newsletter form {
  padding-top: 10px;
  display: flex;
}

.newsletter-input {
  padding: 15px 100px 15px 10px;
  border: 1px solid rgba(125, 125, 125, 0.3);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 1.125rem;
}

.newsletter-input::placeholder {
  color: var(--cinzaDiv);
}

.btn {
  font-size: 1.125rem;
  color: #fff;
  background: var(--verde);
  padding: 15px 40px;
  border: 1px solid rgba(125, 125, 125, 0.3);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: .2s ease-out;
}

.btn:hover {
  opacity: .8;
}

.footer-down {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px calc((100% - 1300px) / 2);
  justify-content: space-between;
  align-items: center;
  background-color: var(--cinza);
}

.socials {
  display: flex;
  flex-wrap: wrap;
}

.socials img {
  width: 40px;
  padding-right: 20px;
  transition: .2s ease;
}

.socials img:hover {
  opacity: .6;
}

.payment {
  display: flex;
  flex-wrap: wrap;
}

.payment img {
  padding-right: 20px;
}

/* RESPONSIVO */

@media (max-width: 1380px) {
  .header {
    padding: 10px 30px 20px 30px;
  }
  .promo {
    padding: 30px 30px 20px 30px;
  }
  .products, .footer-up, .footer-down {
    padding-right: 30px;
    padding-left: 30px;
  }
  
}

@media (max-width: 1067px) {
  .footer-up {
    display: block;
  }
  .paginas {
    margin-bottom: 100px;
  }
}

@media (max-width: 727px) {
  .products {
    margin: 0 auto;
    justify-content: center;
  }
}