@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --verde: #5CA720;
  --preto: #161616;
  --cinza: #F9F9F9;
  --cinzaDiv: #A5A1A1;
}

body, h1, p, ul, li, img {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
}
ul, li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}

/* HEADER */

.header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  padding: 10px 0 20px 0;
}

.logo a img{
  padding: 15px 30px 15px 0px;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
}

.menu li img {
  width: 25px;
  transition: all .2s;
}

.menu li img:hover {
  opacity: .6;
}

.menu li + li {
  margin-left: 40px;
}

/* BANNER */

.banner {
  background: url(../img/banner.png) center center;
  padding: 80px;
}

.banner img {
  margin: 0 auto;
}

/* PROMOÇÃO */

.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 30px 0 20px 0;
  max-width: 1300px;
}

.divisoria {
  border: 0;
  border-top: 1px solid rgba(165, 161, 161, 0.3);
}

.promo span {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
}

.promo p {
  font-size: 1.125rem;
  color: var(--preto);
}

/* PRODUTOS */

.products {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 40px;
}


.produto {
  max-width: 300px;
  padding-bottom: 65px;
}

.produto:nth-of-type(3n + 1), .produto:nth-of-type(3n + 2){
  padding-right: 45px;
}

.produto img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}