@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --orange: #D2872C;
  --grey: #766F68;
}

body, h1, p, ul, li, img {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
ul, li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}

/* GRID GERAL */

.estrutura {
  display: grid;
  max-width: 960px;
  margin: 0 auto;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
    "header header"
    "content content";
}


/* HEADER */

.header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 30px 50px 0px;
  align-items: center;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  color: var(--orange);
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu a {
  display: block;
  font-size: 1.25em;
  color: #454545;
  transition: ease-out .3s;
}

.menu li + li {
  margin-left: 20px;
}

.menu a:hover {
  opacity: 0.6;
}

.hamburguer {
  border-top: 4px solid var(--grey);
  width: 30px;
  display: none;
}

.hamburguer:after, .hamburguer:before {
  content: '';
  display: block;
  width: 30px;
  height: 4px;
  background: var(--grey);
  margin-top: 5px;
}

/* CONTENT */

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.content-text {
  padding-left: 30px;
}

.title {
  font-size: 2.5em;
  color: var(--grey);
}

.description {
  font-size: 1.25em;
  color: var(--grey);
  margin-top: 20px;
}

.btn {
  margin-top: 40px;
  display: inline-block;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  background: var(--orange);
  padding: 20px 80px;
  text-align: center;
  border-radius: 10px;
  transition: all .3s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 5px rgba(170, 170, 170);;
}

/* RESPONSIVO TABLET */
@media (max-width: 990px) { 
  .header {
    padding: 50px 30px 10px 30px;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  .description {
    padding-bottom: -100px;
  }
  .content-text {
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
    padding-bottom: 20px;
  }
  .content img {
    order: -1;
    max-width: 70%;
    margin: 0 auto;
  }
}

/* RESPONSIVO MOBILE */
@media (max-width: 690px) {
  .header {
    padding-top: 20px;
  }
  .header nav {
    display: none;
  }
  .hamburguer {
    display: block;    
  }
  .content-text {
    font-size: .8em;
    padding: 0;
  }
}